.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-group-1 {
  width: 237px;
  --radius: 25px;
  height: auto;
  min-height: 501px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: auto;
  margin: 12px auto 0 49px;
}

.u-section-1 .u-icon-1 {
  width: 43px;
  height: 43px;
  margin: -16px 179px 0 15px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: normal;
  margin: -16px 49px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: 8px 128px 0 85px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 24px;
  height: 24px;
  margin: -24px 82px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 24px;
  height: 24px;
  margin: -24px 175px 0 38px;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 160px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 17px 31px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: -16px 176px 0 18px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: -16px 47px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 24px;
  height: 24px;
  margin: 8px 172px 0 41px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 24px;
  height: 24px;
  margin: -24px 126px 0 87px;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 24px;
  height: 24px;
  margin: -24px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 160px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 19px 30px 0 auto;
}

.u-section-1 .u-icon-9 {
  width: 43px;
  height: 43px;
  margin: -16px 176px 0 18px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: -16px 46px 0 auto;
}

.u-section-1 .u-icon-10 {
  width: 24px;
  height: 24px;
  margin: 8px 126px 0 87px;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 24px;
  height: 24px;
  margin: -24px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 24px;
  height: 24px;
  margin: -24px 172px 0 41px;
  padding: 0;
}

.u-section-1 .u-line-3 {
  width: 160px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 0;
  padding: 2px 31px 2px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 148px;
    min-height: 362px;
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.4375rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.5625rem;
  }

  .u-section-1 .u-icon-1 {
    width: 30px;
    height: 30px;
    margin-top: -12px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.4375rem;
    width: auto;
    margin-top: -11px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-icon-2 {
    width: 15px;
    height: 15px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-1 .u-icon-3 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-1 .u-icon-4 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    width: 54px;
    transform-origin: left center 0px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.5625rem;
    width: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-icon-5 {
    width: 29px;
    height: 29px;
    margin-top: -14px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.4375rem;
    width: auto;
    margin-top: -6px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-icon-6 {
    width: 15px;
    height: 15px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-icon-7 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-1 .u-icon-8 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-1 .u-line-2 {
    width: 54px;
    transform-origin: left center 0px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.5625rem;
    width: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-icon-9 {
    width: 24px;
    height: 24px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.4375rem;
    width: auto;
    margin-top: -2px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-icon-10 {
    width: 15px;
    height: 15px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-1 .u-icon-11 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 101px;
  }

  .u-section-1 .u-icon-12 {
    width: 15px;
    height: 15px;
    margin-top: -15px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-1 .u-line-3 {
    width: 54px;
    transform-origin: left center 0px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 33px;
    padding: 0 15px 1px 14px;
  }
}